

.menuSection{

    background-color: lightgrey;
    height: 65vh;
    padding: 10rem 15rem;

    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;

}

.menuSection__special{
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size: 8px;
    font-weight: 500;

}

.menuSection__header{
    margin-bottom: 5rem;
    font-size: 2.5rem;


}

.menuSection__cardContainer{
    margin-bottom: 5rem;

    height: 20rem;
    width: 100%;
    /* background: #fff; */

    display: flex;
    justify-content: space-between;
    /* background: pink; */


}

.menuSection__card{

    padding: 1rem;

    width: calc((100% - 3rem) / 3);
    /* background:red; */
    text-align:center;
    background-color: rgba(0,0,0,0.2);

}

.card__img{

    width: 100%;
    height: 10rem;
    /* background-image: url('https://source.unsplash.com/jeiqzOgwwKU');
    background-size: cover;
    background-position: center; */

}

.card__header{

    margin-top: 2rem;
}

.card__desc{
    margin-top: 0.5rem;
}


.menuSection__link{

    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid rgba(0,0,0,0.2);

}

.arrow__container{
    /* background:red; */
    align-self: center;
    cursor: pointer;
}

.arrow__left{
    font-size: 2rem;
    margin-left: -2rem;
    color: grey;
    
}

.arrow__right{
    font-size: 2rem;
    margin-right: -3rem;
    color: black;
}

.arrow__left:hover,
.arrow__right:hover{
    color: black;
}


