

.contact{
    padding: 0rem 15rem;
    padding-top: 10rem;
    text-align: center;
    /* height: 30rem; */
    background: lightgray;
    
}

@media (max-width: 1024px){
    .contact{
        padding: 0rem 4rem;
        padding-top: 10rem;

    }
}

@media (max-width: 728px){
    .contact{
        padding: 0 2rem;
        padding-top: 10rem;
        
    }
}

.contact__contact{
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: 600;
    font-size: 1.4rem;
}

@media (max-width: 1024px){
    .contact__contact{
        font-size: 1.2rem;
    }
}

.contact__header{
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 600;
}
@media (max-width: 1024px){
    .contact__header{
        font-size: 2.5rem;
    }
}

.contact__details{

    display: flex;
    background: white;
    width: 100%;
    margin-top: 4rem;
    padding: 4rem;
    position: relative;
    z-index: 10;

    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

@media (min-width: 1200px){
    .contact__details{
        max-width: 80%;
        margin: 4rem auto 0 auto;
        
    }
}

.details__left{

    width: 50%;
    /* background:lightcoral; */
    text-align: left;

}

@media (min-width: 1200px){
    .details__left{
        padding: 2rem;
    }
}

.city{
    font-size:1.6rem;
}

@media (min-width: 1200px){
    .city{
        font-size: 2rem;
    }
}
.country{
    color: rgba(0,0,0,0.3);

}

.address{
    margin-top: 1rem;
    padding-right: 1rem;
    line-height: 2.2rem;
    font-weight: 600;
}

@media (min-width: 1200px){
    .address{
        line-height: 2.5rem;
    }
}

@media (max-width: 1024px){
    .address{
        line-height: 2rem;
    }
}
@media (max-width: 728px){
    .address{
        line-height: 1.5rem;
    }
}
.email{
    margin-top: 2rem;
    font-weight: 400;

}

.email1{
    font-weight: 700;
}

.border{
    /* display: inline-block; */
    width: 20%;
    height: 2px;
    background:black;
    margin-top: 8rem;

}

.details__right{

    width: 50%;
    /* background:lightcyan; */
    text-align:left;


}
@media (min-width: 1200px){
    .details__right{
        padding: 2rem;
    }
}

.call{
    font-weight: 600;
}

.number{
    margin-top: 1rem;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.lunch{
    font-weight: 600;
}

.p1{
    margin-top: 0.75rem;
}

.p2{
    margin-top: 0.5rem;
}

.dinner{
    margin-top: 2.5rem;
    font-weight: 600;
}

.p3{
    margin-top: 0.75rem;
}

.address, .email, .call, .lunch, .p1, .p2, .dinner, .p3{
    font-size: 1.4rem;
    
}

@media (min-width: 1200px){
    .address, .email, .call, .lunch, .p1, .p2, .dinner, .p3{
        font-size: 1.5rem;
        
    }
}

@media (max-width: 1024px){
    .address, .email, .call, .lunch, .p1, .p2, .dinner, .p3{
        font-size: 1.2rem;
        
    }
}
@media (max-width: 728px){
    .address, .email, .call, .lunch, .p1, .p2, .dinner, .p3{
        font-size: 1rem;
        
    }
}

.maps{
    width: 100%;
    height: 30rem;
    z-index: -1;
    margin-top: -4.5rem;
    

}
