
.header{
    width: 100%;
    display: flex;
    align-items: center;

    /* background: pink; */
    padding: 2rem 15rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;

    position: absolute;
    /* top: 0;
    left: 0; */

    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    /* margin-right: auto; */
}

.navbar{
    /* margin-left: 10rem; */
    /* background: red; */
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlinks{
    text-decoration: none;
    color: #fff;

}

.reservations{
    background: transparent;
    padding: 1rem 2rem;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}

.reservations:hover{
    background-color: #fff;
    color: black;

}

.selected{
    
    border-bottom: 1px solid white;
    padding-bottom: 3px;
}