
.header{
    width: 100%;
    display: flex;
    align-items: center;

    background: pink;
    padding: 1rem 15rem;

    position: absolute;
    /* top: 0;
    left: 0; */

    z-index: 10;
}

.navbar{
    margin-left: 10rem;
    /* background: red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navlinks{
    text-decoration: none;

}