
.reservations{

    padding: 4rem;
    /* background: white; */
}

@media (max-width: 728px){
    .reservations{
        padding: 1rem;
    }
}

.reservations__header{
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 2rem;
}

@media (max-width: 1024px){
    .reservations__header{
        font-size: 2.5rem;
    }
}

@media (max-width: 728px){
    .reservations__header{
        font-size: 2rem;
    }
}

.border{
    width: 10rem;
    background: white;
    margin: 0.5rem auto;
    font-size: 1px;
    margin-top: 1rem;
}

.reservations__form{
    /* background: pink; */
}

.first{
    margin-top: 1rem;
    width: 100%;
    /* background: yellow; */
    display: flex;
}

@media (max-width: 728px){
    .first{
        flex-direction: column;
    }
}

.second{
    margin-top: 1rem;
    width: 100%;
    /* background: yellow; */
    display: flex;
}
@media (max-width: 728px){
    .second{
        flex-direction: column;
        margin-top: 0;
    }
}

.third{
    margin-top: 1rem;
    width: 100%;
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

@media (max-width: 728px){
    .third{
        margin-top: 0;
    }
}

.cell{
    width: calc(100% / 3);
    /* background: orange; */
    padding: 1rem;

    display: flex;
    flex-direction: column;
}

@media (max-width: 728px){
    .cell{
        width: 100%;
    }
}

.label{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

@media (max-width: 728px){
    .label{
        font-size: 1.2rem;
    }
}

.input{
    margin-top: 0.5rem;
    border: none;
    font-size: 1.4rem;
    padding: 0.75rem;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
}

@media (max-width: 728px){
    .input{
        margin-top: 0;
    }
}

.input:focus{
    outline:none;
}



.textarea{
    resize: none;
    margin-top: 0.5rem;
    border: none;
    font-size: 1.4rem;
    padding: 0.75rem;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    height: 10rem;
}
.textarea:focus{
    outline: none;
}

@media (max-width: 728px){
    .textarea{
        margin-top: 0;
        height: 7rem;
    }
}

.btn__container{
    display: flex;
    justify-content: center;
}
.submit{
    

    margin-top: 5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    background: transparent;
    color: white;
    border: 1px solid white;
    text-transform: uppercase;   
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.submit:hover{
    background: white;
    color: black;
}

@media (min-width: 1200px){
    .submit{
        font-size: 1.4rem;
    }
}

@media (max-width: 1024px){
    .submit{
        font-size: 1rem;
    }
}

@media (max-width: 728px){
    .submit{
        margin-top: 1rem;
    }
}

.cross{
    color: white;
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
    
    transition: all 0.2s ease-in-out;
}
.cross:hover{
    transform: scale(1.2);
}
